$primary: #603FC1;
$light-primary:#D7D7FE;
$secondary: #0A9250;
$tertiary: #D7D7D7;
$danger: #D63939;
$white: #FFF;
$black: #333;
$blue: #3B82F6;
$dark-gray: #525252;
$light-green:#E8FFF3;
$light-yellow:#FEF9C3;
$light-blue:#EBFBFF;
$light-red:#FFEBEB;
$grey: #B0B0B0;