.generic-table {
  border-collapse: collapse;
  color: black;

  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    h2 {
      margin: 0;
    }

    .header-buttons {
      button {
        margin-left: 10px;
      }
    }
  }

  table {
    width: 100%;
    border: 1px solid #ddd;

    tr {
      height: 50px;
    }

    th,
    td {
      color: black;
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f4f4f4;
    }
  }
}

.products-table {
  color: black;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 5%;

  h2,
  label {
    display: flex;
    justify-content: start;
    margin: 0;
    margin-bottom: 10px;
  }

  h2 {
    align-items: center;
    font-size: xx-large;

    svg {
      margin-right: 10px;
    }
  }

  label {
    margin-bottom: 20px;
  }

  button {
    color: white;
    background-color: #8845fc;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .products-buttons-top {
    display: flex;
    align-items: center;
    font-size: large;
    gap: 10px;
  }

  .icon-export {
    color: white;
    background-color: #6427cd;
    padding: 3px;
    border-radius: 50%;
  }

  .table-controls {
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
    gap: 10px;
    height: 5vh;

    h3 {
      display: flex;
      align-items: center;
      margin-left: 5%;
    }

    .search-container {
      position: relative;
      width: 25%;
      margin-left: 15%;
      margin-right: 10%;

      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin: 5px;
      }

      .search-icon {
        position: relative;
        bottom: 55%;
        left: 50%;
        transform: translateY(-50%);
      }
    }

    .products-table-buttons {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: large;
    }

    .icon-filter {
      color: gray;
      font-size: x-large;
    }
  }

  table {
    width: 100%;
    border: 1px solid #ddd;

    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f4f4f4;
      font-weight: 600;
      font-size: large;
    }

    .tipo {
      color: #4caf50;
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: larger;
    }

    .link {
      color: #2196f3;
      text-decoration: underline;
    }

    .estado-activo {
      color: #00870c;
      background-color: #acee98;
      padding: 5px 10px;
      border-radius: 20px;
      font-weight: 500;
    }

    .estado-inactivo {
      color: #bd0d00;
      background-color: #f9a8a8;
      padding: 5px 10px;
      border-radius: 20px;
      font-weight: 500;
    }
  }
}
